*.mkv
.vs/
*.obj
TestOpen3D/Kinect Test 1/
*.ply
x64/
TestOpen3D/Kinect Test 2/
TestOpen3D/NonRigidDebug/
TestOpen3D/syncnew_3/
TestOpen3D/convertedImages/
TestOpen3D/july8-sync-rgbd_0/
TestOpen3D/july8-afternoon_0/
*.abc